/*-----------------------------------------------------------//
//
//   THEME COLORS AND BACKGROUNDS
//
------------------------------------------------------------*/

/* GENERAL ------------------------------------------------------------*/

body {
	background: #fffff url(bg.png) repeat;
	color: #606060;
}

/* HEADER ------------------------------------------------------------*/

#header{ background: url(header.png) no-repeat center;}

#header #page-title{ color: #fefefe; }

#header #breadcrumbs{ color: #a1a1a1; }

#header #breadcrumbs a{ color: #fefefe; }

/* SIDEBAR  ------------------------------------------------------------*/

#wrapper{ background: url(sidebar.png) transparent repeat-y;}

#sidebar, #sidebar a{ color: #f4f2ea; }

.sidebar-divider{ background: url(sidebar-divider.png) no-repeat; }

#sidebar #searchform{ background: url(sidebar-divider.png) no-repeat; }

.tweet,
.query { background: url(sidebar-divider.png) no-repeat; }

/* SIDEBAR NAVIGATION ---------------------------------------------------*/

#sidebar #nav>li a{ color: #fefefe; }

#sidebar #nav>li>ul li a{ color: #909090; }

#sidebar #nav>li>ul li a:hover{ color:#fff; }

.sf-shadow ul { background: url('dropdown.png') no-repeat top left; }

#sidebar #nav{ background: url(sidebar-divider.png) no-repeat; }

.social{ background: url(sidebar-divider.png) no-repeat; }

/* SIDEBAR CATEGORIES ---------------------------------------------------*/

#sidebar .cat-list li{  }

#sidebar .cat-list a:hover{ color: #ecc731; }

#sidebar .cat-list{ background: url(sidebar-divider.png) no-repeat; }

/* GALLERY ------------------------------------------------------------*/

.filter-main ul li a{ color: #606060; }

.filter-main ul li a:hover{ color: #ecc731; }

.gallery-thumbs li a{ color: #606060; }

/* FOOTER ------------------------------------------------------------*/

#footer{ background: #080808 url(footer.png) repeat-x; }

#footer a{ color: #bab290; }

#footer a:hover{ color: #dbc97f; }

#footer h6{	color: #fff; }

#bottom-right:hover{ color: #dbc97f; }


